.container {
    margin-top: 16px;
}

.login {
    width: 40%;
    height: 40px;
    display: flex;
}

.checkbox input {
    margin: 6px;
}

.checkbox label,
.login label {
    width: 14%;
    margin: 4px;
    font-size: 8px;
    font-weight: bold;
}

.submit button {
    margin: 10px 4px;
    font-size: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 2px;
}

.submit button:hover {
    background-color: gray;
    color: white;
}

.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 10px;
    font-weight: bold;
    margin-left: 4px;
}