.container li a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.container li {
    margin: 5px;
    list-style-type: none;
    display: flex;
    align-items: center;
    border: 1px solid #181917;
    padding: 2px 0 2px;
}

.container li img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 2% 0 2%;
}

.personItem {
    color: #181917;
    font-weight: bold;
}

.active {
    color: gray;
}