header {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
}

header img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 2%;
    border: 1px groove gray;
}

.userData {
    display: flex;
    align-items: center;
}

.userData h2 {
    font-size: 10px;
    margin: 0px 10px;
    color: white;
}