.container {
    width: 20%;
    margin-left: 4px;
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.container span {
    width: 70%;
    height: 13px;
    padding: 2px;
    font-size: 10px;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.container input {
    height: 13px;
    font-size: 8px;
    font-weight: bold;
    border: none;
    outline: none;
}

.container button {
    height: 16px;
    font-size: 8px;
    border-radius: 2px;
    border: 1px solid gray;
    outline: none;
    margin-left: 4px;
}

.container button:hover {
    background-color: gray;
}