nav {
    flex: 2;
    background-color: darkkhaki;
}

nav ul li {
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
    list-style-type: none;
}

.item {
    color: white;
}

.active {
    color: yellow;
}