nav {
    flex: 2;
    background-color: darkkhaki;
}

nav ul li {
    margin-bottom: 5px;
    font-weight: bold;
    list-style-type: none;
}

.item {
    color: white;
}

.active {
    color: yellow;
}