.container {
    margin-bottom: 10px;
}

.coverPhoto {
    width: 100%;
    height: 200px;
}

.description {
    width: 50%;
    margin-left: 4px;
}

.description h2 {
    font-weight: bold;
    font-size: 14px;
    margin-left: 4px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

input[type="file"] {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 8px;
    border: none;
}