.container {
    margin: 5px 0 10px 4px;
}

.title {
    font-weight: bold;
    font-size: 12px;
}

.createNewPost {
    width: 12%;
    border: 1px sld black;
}

.createNewPost button {
    height: 20px;
    font-size: 8px;
    border: none;
    outline: none;
}

.createNewPost textarea {
    height: 20px;
    font-size: 8px;
    outline: none;
}

.createNewPost button:hover {
    background-color: gray;
}